.made-with-love
{
    color: white;
    font-size: 13px;
    display: block;
    position: absolute;
    width: 90%;
    left: 50%;
    font-family: 'Roboto', sans-serif;
    bottom: 0px;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}