<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="error-template">
                <h2>404 Not Found</h2>
                <h1>Oops! I think you're at wrong place...</h1>
               
                <div class="error-details">
                    Come, let's go back to the party.
                </div>
                <div class="error-actions">
                    <a
                        [routerLink]="['/home']"
                        class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Back to Party </a>
                </div>
            </div>
        </div>
    </div>
</div>

