<div class="container py-5">
    <div class="row py-5">
        <div class="col-md-12">
            <div class="error-template text-light">
                <h2>
                    <span class="font-weight-bold">404 Not Found</span>
                </h2>
                <h1 class="font-weight-light">Oops! I think you're at wrong place...</h1>
               
                <div class="error-details">
                    <span class="font-italic">
                        Come, let's go back to the party.
                    </span>
                </div>
                <div class="error-actions">
                    <a
                        [routerLink]="['/home']"
                        class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Back to Party </a>
                </div>
            </div>
        </div>
    </div>
</div>

