<div class="container">
  <div class="envelope-body">    
    <div class="envelope-wrapper">
      <div id="envelope" class="close">
        <div class="front flap"></div>
        <div class="front pocket"></div>
        <div class="letter">
          <div class="words line1">
            <small><i>Divsss,</i></small>
          </div>
          <div class="words line2">
            <span><small><i>Many many happy returns of the day.</i></small></span>
          </div>
          <div class="words line3">
            <span>
              <small><i>je t'aime bien</i></small>
            </span>
          </div>
          <div class="words line4">
            <span>
              <small><i>je t'aime bien</i></small>
            </span>
          </div>
        </div>
        <div class="hearts">
          <div class="heart a1" (click)="heartClick()"></div>
          <div class="heart a2" (click)="heartClick()"></div>
          <div class="heart a3" (click)="heartClick()"></div>
        </div>
      </div>
    </div>
    <div class="d-flex text-center">
      <small class="text-white">
        *Click on the envelope to see what happens.
      </small>
    </div>
  </div>
</div>

<!-- <div class="reset">
      <button id="open">Open</button>
      <button id="reset">Reset</button>
    </div> -->
