<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <mat-tab-group>
                <mat-tab label="All">
                    <div class="gallery">
                        <mat-grid-list cols="3" rowHeight="3:2">
                            <mat-grid-tile *ngFor="let image of images" (click)="showDialog(image)">
                                <img [defaultImage]="defaultImage" [lazyLoad]="image.imagePath">
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </mat-tab>
                <mat-tab label="Favourite">
                    <div class='gallery'>
                        <mat-grid-list cols="3" rowHeight="3:2">
                            <mat-grid-tile *ngFor="let image of images" (click)="showDialog(image)">
                                <img [defaultImage]="defaultImage" [lazyLoad]="image.imagePath">
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<app-modal class="photoModal" *ngIf="isShowModal" (closeModal)="closeDialog()">
    <div class="modal-body">
        <img [defaultImage]="defaultImage" [lazyLoad]="modalImage.src">
    </div>
    <div class="modal-footer">
        <p>{{modalImage.text}}</p>
    </div>
</app-modal>

 <!-- [src]="modalImage.src" -->