/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body 
{ 
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif; 

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@font-face {font-family: "Gabriel Weiss' Friends Font";
	src: url("http://db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.eot"); /* IE9*/
	src: url("http://db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("http://db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.woff2") format("woff2"), /* chrome firefox */
	url("http://db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.woff") format("woff"), /* chrome firefox */
	url("http://db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
	url("http://db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.svg#Gabriel Weiss' Friends Font") format("svg"); /* iOS 4.1- */
  }