<!-- COUNTDOWN CONTAINER -->
<div *ngIf="hideView">
    <ul class="lightrope">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="container py-5" *ngIf="hideView">
    <div class="py-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div *ngIf="dayNotArrived" class="rounded bg-gradient-3 text-white shadow p-5 text-center mb-5">
                    <p class="mb-0 font-weight-bold text-uppercase">Divya Rawat's Birthday Countdown 🎂🥳🎉</p>
                    <div class="countdown-circles d-flex flex-wrap justify-content-center pt-4">
                        <div class="holder m-2"><span class="h1 font-weight-bold">{{ leftDays }}</span> <div *ngIf="leftDays > 1">Days</div> <div *ngIf="leftDays <= 1">Day</div> </div>
                        <div class="holder m-2"><span class="h1 font-weight-bold">{{ leftHours }}</span> Hours</div>
                        <div class="holder m-2"><span class="h1 font-weight-bold">{{ leftMins }}</span> Minutes</div>
                        <div class="holder m-2"><span class="h1 font-weight-bold">{{ leftSeconds }}</span> Seconds</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button #myButton style="display: none;" id="myButton" class="btn" (click)="speakingBot();">Speaking Bot</button>
            <div class="col-lg-8 mx-auto" *ngIf="genericMessagePresent">
                <h1 class="text-white text-center font-italic font-weight-bold">{{dailyGenerricMessage}}</h1>
            </div>
        </div>
        <div class="row" *ngIf="displayMessage">
            <div class="col-lg-8 mx-auto">
                <div class="alert alert-light text-dark" *ngFor="let m of displayMessage">
                    <i class="text-justify">{{m.message}} <small *ngIf="m.messageBy" class="ml-2 text-muted">~ {{m.messageBy}}</small>
                    </i>
                </div>
            </div>
        </div>

        <img src="{{rachelFooterImage}}" class="image-right-bottom-corner d-none d-sm-block d-sm-none">
        <img src="{{joeyFooterImage}}" class="image-left-bottom-corner d-none d-sm-block d-sm-none">

    </div>
</div>


<!-- BIRTHDAY CONTAINER -->
<!-- <img src="{{birthdayBanner}}" height="35%" width="100%" style="position: absolute; transition: .5s ease;" > -->
<div class="container py-5" *ngIf="!hideView">
    <div class="py-5">
        <div class="row">
            <div class="col-lg-12 mx-auto">

                <div class="pyro">
                    <div class="before"></div>
                    <div class="after"></div>
                </div>

                <div class="text-center">
                    <img class="ml-2 mr-2 d-none d-sm-block d-sm-none" src="https://media.giphy.com/media/jUWnoiQmjLIusD1x2V/giphy.gif" height="250" width="200px">
                    <img class="ml-2 mr-2" src="{{birthdayConfig.birthDayPersonImagePath}}" height="250" width="200px">
                    <img class="ml-2 mr-2 d-none d-sm-block d-sm-none" src="https://media.giphy.com/media/jUWnoiQmjLIusD1x2V/giphy.gif" height="250" width="200px">
                </div>

                <div class="text-center mt-5">
                    <img src="https://fontmeme.com/permalink/210530/bb8fd37d5c5707bd6fa3c5f617aca724.png" width="100%">    
                </div>

                <!-- <h1 class="text-white text-center font-italic font-weight-bold friends-font">
                    <span class="display-2">{{birthdayConfig.birthDayBannerText}}</span>
                </h1> -->

                <h2 class="text-white text-center font-weight-light mt-5">
                    <span>{{birthdayConfig.birthDate | date:'longDate'}}</span>
                </h2>
    
            </div>
        </div>
    </div>
</div>

<div>
    <app-footer></app-footer>
</div>


<!-- 
    <time class="text-center" datetime="2021-06-07" class="icon">
        <em>{{birthdayConfig.birthDate | date:'EEEE'}}</em>
        <strong>{{birthdayConfig.birthDate | date:'MMMM'}}</strong>
        <span>{{birthdayConfig.birthDate | date:'d'}}</span>
    </time>
 -->
