/*
*
* ==================================================
* STYLES - TO MAKE IT LOOK NICE
* ==================================================
*
*/

.countdown {
  text-transform: uppercase;
  font-weight: bold;
}

.countdown span {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 3rem;
  margin-left: 0.8rem;
}

.countdown span:first-of-type {
  margin-left: 0;
}

.countdown-circles {
  text-transform: uppercase;
  font-weight: bold;
}

.countdown-circles span {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.countdown-circles span:first-of-type {
  margin-left: 0;
}

.bg-gradient-1 {
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.bg-gradient-2 {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
  background: linear-gradient(to right, #654ea3, #eaafc8);
}

.bg-gradient-3 {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b);
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.bg-gradient-4 {
  background: #007991;
  background: -webkit-linear-gradient(to right, #007991, #78ffd6);
  background: linear-gradient(to right, #007991, #78ffd6);
}

.rounded {
  border-radius: 1rem !important;
}

canvas {
  height: 100%;
  width: 100%;
}

.fire-work-container {
  height: 100%;
  width: 100%;
}



time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 1.2em;
  color: #2f2f2f;
}