
<div class="container py-5">
    <div class="py-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div *ngIf="dayNotArrived" class="rounded bg-gradient-3 text-white shadow p-5 text-center mb-5">
                    <p class="mb-0 font-weight-bold text-uppercase">Divya Rawat's Birthday Countdown 🎂🥳🎉</p>
                    <div class="countdown-circles d-flex flex-wrap justify-content-center pt-4">
                        <div class="holder m-2"><span class="h1 font-weight-bold">{{ leftDays }}</span> <div *ngIf="leftDays > 1">Days</div> <div *ngIf="leftDays <= 1">Day</div> </div>
                        <div class="holder m-2"><span class="h1 font-weight-bold">{{ leftHours }}</span> Hours</div>
                        <div class="holder m-2"><span class="h1 font-weight-bold">{{ leftMins }}</span> Minutes</div>
                        <div class="holder m-2"><span class="h1 font-weight-bold">{{ leftSeconds }}</span> Seconds</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button #myButton style="display: none;" id="myButton" class="btn" (click)="speakingBot();">Speaking Bot</button>
            <div class="col-lg-8 mx-auto">
                <h1 class="text-white text-center font-italic font-weight-bold">{{dailyGenerricMessage}}</h1>
            </div>
        </div>
        <div class="row" *ngIf="displayMessage">
            <div class="col-lg-8 mx-auto">
                <div class="alert alert-light text-dark" *ngFor="let m of displayMessage">
                    <i class="text-justify">{{m.message}} <small *ngIf="m.messageBy" class="ml-2 text-muted">~ {{m.messageBy}}</small>
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 
  "./node_modules/bootstrap/dist/css/bootstrap.css",
  "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css"
 -->
